.app-summary-card {
  &--incomplete {
    .app-summary-card__title {
      color: govuk-colour('blue');
      font-weight: bold !important;
    }
  }

  &--error {
    .app-summary-card__title {
      color: govuk-colour('red');
      font-weight: bold !important;
    }

  }

  .app-summary-card__header {
    @include govuk-media-query($from: desktop) {
      // display: flex;
      align-items: start;
    }
  }

  .app-summary-card__title {
    display: inline-block;
  }

  .app-summary-card__actions {
    @include govuk-font($size: 19);
    display: inline-block;
  }

  .app-summary-card__actions-list {
    width: 100%;
    margin: 0;
    padding: 0;
  }

  .app-summary-card__actions a {
    @include govuk-media-query($from: desktop) {
      margin-left: govuk-spacing(2);
    }
  }

  .app-summary-card__actions-list-item {
    display: block;
    white-space: nowrap;

    @include govuk-media-query($from: desktop) {
      display: inline-block;
      text-align: right;
    }
  }
}

@media print {
  .app-summary-card__header {
    break-inside: avoid;
  }

  .app-summary-card__actions {
    display: none;
  }
}
