{% extends "_form-wide.njk" %}

{% set title = "Performance dashboard" %}
{% block primary %}

<h2 class="govuk-heading-l">Week by week</h2>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <p>A breakdown showing where candidates who signed up in a given week are in their application journey.</p>
  </div>
</div>

<h3 class="govuk-heading-m">Of candidates who signed up 1-7 days ago:</h3>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-third">
        <div class="app-card">
          <span class="app-card__secondary-count">10</span>
          <span class="govuk-!-font-size-14" style="margin-top: -3px; margin-bottom: 5px; display: block">out of 100</span>
          <span>never signed in</span>
        </div>
      </div>
      <div class="govuk-grid-column-one-third">
        <div class="app-card">
          <span class="app-card__secondary-count">32</span>
          <span class="govuk-!-font-size-14" style="margin-top: -3px; margin-bottom: 5px; display: block">out of 100</span>
          <span>not started the form</span>
        </div>
      </div>
      <div class="govuk-grid-column-one-third">
        <div class="app-card">
          <span class="app-card__secondary-count">52</span>
          <span class="govuk-!-font-size-14" style="margin-top: -3px; margin-bottom: 5px; display: block">out of 100</span>
          <span>form in progress</span>
        </div>
      </div>
    </div>
  </div>
  <div class="govuk-grid-column-one-half">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-third">
        <div class="app-card">
          <span class="app-card__secondary-count">6</span>
          <span class="govuk-!-font-size-14" style="margin-top: -3px; margin-bottom: 5px; display: block">out of 100</span>
          <span>still being processed</span>
        </div>
      </div>
      <div class="govuk-grid-column-one-third">
        <div class="app-card app-card--red">
          <span class="app-card__secondary-count">0</span>
          <span class="govuk-!-font-size-14" style="margin-top: -3px; margin-bottom: 5px; display: block">out of 100</span>
          <span>ended w/o success</span>
        </div>
      </div>
      <div class="govuk-grid-column-one-third">
        <div class="app-card app-card--green">
          <span class="app-card__secondary-count">0</span>
          <span class="govuk-!-font-size-14" style="margin-top: -3px; margin-bottom: 5px; display: block">out of 100</span>
          <span>accepted an offer</span>
        </div>
      </div>
    </div>
  </div>
</div>

<h3 class="govuk-heading-m govuk-!-margin-top-7">8-14 days ago</h3>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-third">
        <div class="app-card">
          <span class="app-card__secondary-count">12</span>
          <span class="govuk-!-font-size-14" style="margin-top: -3px; margin-bottom: 5px; display: block">out of 100</span>
          <span>never signed in</span>
        </div>
      </div>
      <div class="govuk-grid-column-one-third">
        <div class="app-card">
          <span class="app-card__secondary-count">34</span>
          <span class="govuk-!-font-size-14" style="margin-top: -3px; margin-bottom: 5px; display: block">out of 100</span>
          <span>not started the form</span>
        </div>
      </div>
      <div class="govuk-grid-column-one-third">
        <div class="app-card">
          <span class="app-card__secondary-count">42</span>
          <span class="govuk-!-font-size-14" style="margin-top: -3px; margin-bottom: 5px; display: block">out of 100</span>
          <span>form in progress</span>
        </div>
      </div>
    </div>
  </div>
  <div class="govuk-grid-column-one-half">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-third">
        <div class="app-card">
          <span class="app-card__secondary-count">12</span>
          <span class="govuk-!-font-size-14" style="margin-top: -3px; margin-bottom: 5px; display: block">out of 100</span>
          <span>still being processed</span>
        </div>
      </div>
      <div class="govuk-grid-column-one-third">
        <div class="app-card app-card--red">
          <span class="app-card__secondary-count">5</span>
          <span class="govuk-!-font-size-14" style="margin-top: -3px; margin-bottom: 5px; display: block">out of 100</span>
          <span>ended w/o success</span>
        </div>
      </div>
      <div class="govuk-grid-column-one-third">
        <div class="app-card app-card--green">
          <span class="app-card__secondary-count">1</span>
          <span class="govuk-!-font-size-14" style="margin-top: -3px; margin-bottom: 5px; display: block">out of 100</span>
          <span>accepted an offer</span>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
