{% extends "_form.njk" %}

{% set applicationPath = "/application/" + applicationId %}
{% set title = "Add A level qualifications" %}
{% set nextType = applicationValue(["other-qualifications", id, "type-uk"]) or type %}

{% block pageNavigation %}
  {% if referrer %}
    {{ govukBackLink({
      href: referrer
    }) }}
  {% else %}
    {{ govukBackLink({
      href: "/application/" + applicationId + "/other-qualifications/" + id
    }) }}
  {% endif %}
{% endblock %}

{% block primary %}

  {{ govukInput({
    label: {
      text: "Institution where you studied",
      classes: "govuk-label--m"
    }
  } | decorateApplicationAttributes(["other-qualifications", id, "org"])) }}

  <table class="govuk-table">
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th class="govuk-table__header govuk-!-font-size-24" style="width: 70%">A level subject</th>
        <th class="govuk-table__header govuk-!-font-size-24">Grade</th>
        <th class="govuk-table__header govuk-!-font-size-24">Year</th>
      </tr>
    </thead>
    <tbody class="govuk-table__body">
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">
          {{ govukInput({
            formGroup: {
              classes: "govuk-!-margin-bottom-0"
            }
          } | decorateApplicationAttributes(["other-qualifications", id, "subject"])) }}
        </td>
        <td class="govuk-table__cell">
          {{ govukInput({
            formGroup: {
              classes: "govuk-!-margin-bottom-0"
            },
            classes: "govuk-input--width-4"
          } | decorateApplicationAttributes(["other-qualifications", id, "grade"])) }}
        </td>
        <td class="govuk-table__cell">
          {{ govukInput({
            formGroup: {
              classes: "govuk-!-margin-bottom-0"
            },
            classes: "govuk-input--width-4"
          } | decorateApplicationAttributes(["other-qualifications", id, "year"])) }}
        </td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">
          {{ govukInput({
            formGroup: {
              classes: "govuk-!-margin-bottom-0"
            }
          } | decorateApplicationAttributes(["other-qualifications", id, "subject"])) }}
        </td>
        <td class="govuk-table__cell">
          {{ govukInput({
            formGroup: {
              classes: "govuk-!-margin-bottom-0"
            },
            classes: "govuk-input--width-4"
          } | decorateApplicationAttributes(["other-qualifications", id, "grade"])) }}
        </td>
        <td class="govuk-table__cell">
          {{ govukInput({
            formGroup: {
              classes: "govuk-!-margin-bottom-0"
            },
            classes: "govuk-input--width-4"
          } | decorateApplicationAttributes(["other-qualifications", id, "year"])) }}
        </td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">
          {{ govukInput({
            formGroup: {
              classes: "govuk-!-margin-bottom-0"
            }
          } | decorateApplicationAttributes(["other-qualifications", id, "subject"])) }}
        </td>
        <td class="govuk-table__cell">
          {{ govukInput({
            formGroup: {
              classes: "govuk-!-margin-bottom-0"
            },
            classes: "govuk-input--width-4"
          } | decorateApplicationAttributes(["other-qualifications", id, "grade"])) }}
        </td>
        <td class="govuk-table__cell">
          {{ govukInput({
            formGroup: {
              classes: "govuk-!-margin-bottom-0"
            },
            classes: "govuk-input--width-4"
          } | decorateApplicationAttributes(["other-qualifications", id, "year"])) }}
        </td>
      </tr>
    </tbody>
  </table>

  {# Remove the class 'govuk-button--start' for a standard button #}
  {{ govukButton({
      text: 'Add another A level',
      href: '#',
      classes: 'govuk-!-margin-bottom-8 govuk-button--secondary'
  }) }}

  {# Only ask if want to add another if:
    * not editing an existing item
    * not referred from a review page (which has an ‘Add another…’ button)
    * feature flag enabled
  #}
  {% if action != "edit" and not referrer %}
    {# <hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-bottom-5"> #}
    {{ govukRadios({
      name: "next",
      fieldset: {
        legend: {
          text: "Do you want to add more qualifications?",
          classes: "govuk-fieldset__legend--m"
        }
      },
      items: [{
        value: "add",
        text: "Yes, add more qualifications"
      }, {
        value: "review",
        text: "No, not right now"
      }]
    }) }}
  {% endif %}

  {{ govukButton({
    text: "Save and continue"
  }) }}
{% endblock %}

{% block pageScripts %}
  <script src="/public/javascripts/autocomplete.min.js"></script>
  <script>
    accessibleAutocomplete.enhanceSelectElement({
      defaultValue: '{{ valueOrPreviousQualificationValue(["other-qualifications", id, "subject"]) }}',
      selectElement: document.querySelector('#other-qualifications-{{ id }}-subject')
    })
  </script>
{% endblock %}
